* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60vw;
  border: 1px black solid;
  margin: 80px;
}

header {
  display: flex;
  justify-content: space-between;
}

.user {
  display: flex;
}
