* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1440px;
  border: 1px black solid;
  margin: 80px;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.user {
  display: flex;
  margin: 30px 20px;
}

img {
  width: 35px;
  height: 35px;
}
.input__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.unread {
  background-color: aliceblue;
}
